<ion-view>
	<ion-content>



	<h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>
	 
	<h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>
	 
	<h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
	<h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>
	 
	<h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>
	 
	<h1><span class="blue">6</span><span>_____________ </span><span class="pink">6</span></h1>
	<h1><span class="blue">7</span><span>_____________ </span><span class="pink">7</span></h1>
	 
	<h1><span class="blue">8</span><span>_____________ </span><span class="pink">8</span></h1>
	 
	<h1><span class="blue">9</span><span>_____________ </span><span class="pink">9</span></h1>
     

    <div id="juego">
          <table>
        <tr>
          <td id="0" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="1" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="2" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="3" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
        </tr>
        <tr>
          <td id="4" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="5" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="6" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="7" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
        </tr>
        <tr>
          <td id="8" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="9" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="10" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="11" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
        </tr>
        <tr>
          <td id="12" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="13" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="14" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
          <td id="15" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
        </tr>
            </table>
      </div>
  <div class="centrar">
    <input type="button" value="Iniciar" onclick="iniciarJuego()" />    
    <input type="button" value="Reset" onclick="resetearJuego()" /> 
  </div>



    
    
	</ion-content>
</ion-view>