<ion-view view-title="Proyecto Biologia" >
<ion-content>
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<h2 class="title">Bienvenidos a NeaApp</h2>
			<h2 class="letra">En esta aplicacion te daremos todo la informacion necesaria hacerca de la contaminacion del agua y aprenderas hacerca del embarazo</h2>
		</div>
		<div class="col-10">
			
		</div>
	</div>




	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<h2 class="title">Cuidad del agua</h2>
			<h2>
				<video  controls="controls" src="../img/cuida.mp4" class="vid"></video>
			</h2>
		</div>
		<div class="col-10"></div>
	</div>	

	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<h2 class="title">Contaminacion del agua</h2>
			<h2>
				<video controls="controls" src="../img/conta.mp4" class="vid"></video>
			</h2>
		</div>
		<div class="col-10"></div>
	</div>	


		<div class="row">
			<div class="col-10"></div>
				<div class="col-90">
					<h2 class="title">Precesos del embarazo</h2>
			</div>
				<div class="col-20"></div>
		</div>
	<div class="row">
		<div class="col-10"></div>
			<div class="col-80">
				<h2>
					<video controls="controls" src="vid.mp4" class="vid"></video>
				</h2>
			</div>
		<div class="col-10"></div>
	</div>

	

		<div class="row">
			<div class="col-10"></div>
			<div class="col-80">
					<h2 class="title">Formacion de los gametos</h2>
				<h2>
					<video controls="controls" src="../img/gametogenesis.mp4" class="vid"></video>
				</h2>
			</div>
		<div class="col-10"></div>
	</div>



		<div class="row">
			<div class="col-10"></div>
			<div class="col-80">
					<h2 class="title">Procesos de la Fecuandacion Humana</h2>
				<h2>
					<video controls="controls" src="../img/procesos.mp4" class="vid"></video>
				</h2>
			</div>
		<div class="col-10"></div>
	</div>



	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<h2 class="title">Cuidad del agua</h2>
			<h2>
				<video controls="controls" src="../img/cuida.mp4" class="vid"></video>
			</h2>
		</div>
		<div class="col-10"></div>
	</div>




	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<h2 class="title">El Embarazo y sus Etapas</h2>
			<h2 class="letra">El embarazo o gravidez (de grávido, y este del latín gravĭdus)1​2​ es el período que transcurre entre la implantación del cigoto en el útero, hasta el momento del parto, en cuanto a los significativos cambios fisiológicos, metabólicos e incluso morfológicos que se producen en la mujer encaminados a proteger, nutrir y permitir el desarrollo del feto, como la interrupción de los ciclos menstruales, o el aumento del tamaño de las mamas para preparar la lactancia. El término gestación hace referencia a los procesos fisiológicos de crecimiento y desarrollo del feto en el interior del útero materno. En rigor, y bien expresado, la gestación se refiere al desarrollo del feto y el embarazo se refiere a los cambios en la mujer que lo hacen posible, aunque en la práctica muchas personas utilizan ambos términos como sinónimos.

			En la especie humana las gestaciones suelen ser únicas, aunque pueden producirse embarazos múltiples. La aplicación de técnicas de reproducción asistida está haciendo aumentar la incidencia de embarazos múltiples en los países desarrollados.3​

			El embarazo humano dura unas 40 semanas desde el primer día de la última menstruación o 38 desde la fecundación, aproximadamente unos 9 meses. El primer trimestre es el momento de mayor riesgo de aborto espontáneo; el inicio del tercer trimestre se considera el punto de viabilidad del feto, es decir, el momento a partir del cual puede sobrevivir extraútero.</h2>
			<img src="img/maa.jpg">
		</div>
		<div class="col-10">
			
		</div>
	</div>

	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			<h2 class="title">Contaminacion del Agua</h2>
			<h2 class="letra">La contaminación hídrica o la contaminación del agua es una modificación de esta, generalmente provocada por el ser humano, que la vuelve impropia o peligrosa para el consumo humano, la industria, la agricultura, la pesca y las actividades recreativas, así como para los animales.1​

			Aunque la contaminación de las aguas puede provenir de fuentes naturales, como la ceniza de un volcán,2​ la mayor parte de la contaminación actual proviene de actividades humanas.</h2>

			<h2 class="title">Cuidados</h2>
			
			<ol>
				<li>Cerrar las canillas durante el cepillado de dientes, en lugar de dejar correr el agua</li>

				<li>No dejar goteando las canillas</li>

				<li>Usar los baldes para lavar los autos en lugar de la manguera</li>
				<li>Hacer duchas más cortas</li>
				<li>Reciclar el agua de la pileta para regar las plantas o baldear la vereda</li>
			</ol>

			<img src="img/co.jpg">
		</div>
		<div class="col-10">
			
		</div>
	</div>

    
 





</ion-view>
</ion-content>