<ion-view view-title="ADN">
  <ion-content>
    <style type="text/css">
        body,
        html {
            margin: 0px;
        }

        canvas {
          display: block;
          background-color:black;
          border: 10px solid black;
      }
    </style>
    <h2 class="title">ADN (Acido Desoxirribonucleico)</h2>
   <h2 class="letra">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.</h2>

   <h2 class="title">Componentes</h2>
   <h2 class="letra">Ácido fosfórico:

Enlace fosfodiéster. El grupo fosfato (PO43-) une el carbono 5' del azúcar de un nucleósido con el carbono 3' del siguiente.
Su fórmula química es H3PO4. Cada nucleótido puede contener uno (monofosfato: AMP), dos (difosfato: ADP) o tres (trifosfato: ATP) grupos de ácido fosfórico, aunque como monómeros constituyentes de los ácidos nucleicos solo aparecen en forma de nucleósidos monofosfato.</h2>


  <canvas id="canvas"></canvas>


  </ion-content>
</ion-view>
