<ion-view view-title="Infografía del Tabla Nutricional" class="font-view">
  <ion-content>
  	<div class="row">


  		<div class="col-100">
  			<h2 class="title">Infografia Tabla Nutricional</h2>

  			<h2 class="letra">La forma en como la debemos crear es ir a Insertar una imagen acorde a lo que vamos a exponer, una vez que tenemos nuestra imagen darle formato en tamaño, brillo y contraste si lo necesita. Ubicarla en el centro de la hoja. La imagen debe estar ubicada "detras del texto". 

		Luego insertar formas (Cuadrado, rectángulo, flechas), y empezar a señalar las partes de la figura, sobre lo que vamos a explicar. En los cuadros ira la información, una pequeña explicación de la parte que vamos a explicar. Las formas deben estar ubicadas "delante del texto" para poder moverla libremente y que nuestra imagen principal no se corra del lugar en el que está. A las formas agregarle formato: bordes y sombreados. 

		Nos quedará de esta manera</div>
		</div>
	</div>



 
       <style>
  #tabla {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100% !important;
  }

  #tabla td, #tabla th {
   border: 2px solid black;
   padding: -100%;
  }

  #tabla tr:nth-child(even){background-color: #f2f2f2;}

  #tabla tr:hover {background-color: #ddd;}

  #tabla th {
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: left;
   background-color:black;
   color: white;
  }
  </style>  
   <table id="tabla">
   <tr>
     <th>Desayuno</th>
     <th>Refaccion</th>
     <th>Almuerzo</th>
     <th>Refaccion</th>
     <th>Cena</th>
   </tr>
   <tr>
     <td>Lacteos <br>→Leche<br>→Yogurt<br>→Queso</td>
     <td>Lácteos <br>→Aportan calcio</td>
     <td>→Puré de papa con pollo frito en agua,<br> sin aceite</td>
     <td>Manzana roja <br>→Vitamina E <br>→Pectina</td>
     <td>→Ensalada de atún</td>
   </tr>
   <tr>
     <td>Hidratos de carbono <br>→Pan <br>→Cereales (sin azucar)</td>
     <td>Frutas frescas <br>→vitaminas <br>→minerales <br>→fibra </td>
     <td>→Ensalada de atún y porción pequeña <br>de arroz, sin aceite.</td>
     <td>Uvas <br>→Vitamina C <br>→Vitamina K <br>→Vitamina B<br>→Vitamina E <br>→Vitamina A</td>
     <td>carnes blancas <br>→pollo con vegetales <br>→camarón</td>
   </tr>
   <tr>
     <td>Proteina <br>→huevos <br>→Jamon serrano <br> →Yogurt</td>
     <td>Frutas secas <br>no muy salados ni acaramelados<br>→proteínas <br>→fibra <br>→grasas buenas</td>
     <td>→Menestra de fréjol o lenteja y pescado <br>al vapor o asado.</td>
     <td>Pera <br>→Vitamina C <br>→Vitamina A <br>→Fosforo</td>
     <td>→pollo con vegetales </td>
   </tr>
   <tr>
     <td>Fruta <br>→La que este de temporada <br>y de tu gusto</td>
     <td>Huevos <br>→huevos duros<br>→huevitos de codorniz <br>→proteínas</td>
     <td>→Ensalada de fréjol, cebolla, aguacate <br>y huevo duro. </td>
     <td>Maní <br>→Potasio <br>→Magnesio <br>→Hierro</td>
     <td>→yogurt o leche</td>
   </tr>
   <tr>
     <td>Grasas Saludables <br>→Aguacate <br>→Frutos secos <br>→Salmon</td>
     <td>Los horneados <br>→La cancha serrana <br>→Los palitos de yuca</td>
     <td>→Legumbres cocidas</td>
     <td>Banano <br>→Hierro <br>→Potasio</td>
     <td>→té</td>
   </tr>
  </table>




        <div class="col-100">
          <h2 class="title">Infografia Sistema Reproductor</h2>
          <h2>
            <img src="img/info.png" class="img1" >
          </h2>


  </ion-content>
</ion-view>
