<ion-view>
	<ion-content>



<h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>
	 
	<h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>
	 
	<h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
	<h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>
	 
	<h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>
	 
	<h1><span class="blue">6</span><span>_____________ </span><span class="pink">6</span></h1>
	<h1><span class="blue">7</span><span>_____________ </span><span class="pink">7</span></h1>
	 
	<h1><span class="blue">8</span><span>_____________ </span><span class="pink">8</span></h1>
	 
	<h1><span class="blue">9</span><span>_____________ </span><span class="pink">9</span></h1>
     
    
	</ion-content>
</ion-view>