<ion-view view-title="Proyecto chafa" >
<ion-content>
	<div class="row">
		<div class="col-20"></div>
		<div class="col-90"><h2>Video del Proyecto</h2></div>
		<div class="col-20"></div>
	</div>
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80"><h2><video controls src="vid.mp4" class="vid"></video></h2></div>
		<div class="col-10"></div>
	</div>



<div style="background: rgba(0,0,0,0.9);">
<div id="stage">
  <div id="spinner" style="text-align: center; color: #fff;">
    <h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>

    <h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>

    <h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>

    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>

    <h1><span class="blue">6</span><span>_____________ </span><span class="pink">6</span></h1>
    <h1><span class="blue">7</span><span>_____________ </span><span class="pink">7</span></h1>

    <h1><span class="blue">8</span><span>_____________ </span><span class="pink">8</span></h1>

    <h1><span class="blue">9</span><span>_____________ </span><span class="pink">9</span></h1>

  </div>
</div>











</ion-view>
</ion-content>