<ion-view view-title="Proyecto Biologia" >
<ion-content>
	<div class="row">
		<div class="col-20"></div>
		<div class="col-90"><h2>Video del Proyecto</h2></div>
		<div class="col-20"></div>
	</div>
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80"><h2><video controls src="vid.mp4" class="vid"></video></h2></div>
		<div class="col-10"></div>
	</div>

    <h2>El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.</h2>



<div style="background: rgba(0,0,0,0.9);">
<div id="stage">
  <div id="spinner" style="text-align: center; color: #fff;">
    <h1><span class="blue">1</span><span>_____________ </span><span class="pink">1</span></h1>

    <h1><span class="blue">2</span><span>_____________ </span><span class="pink">2</span></h1>

    <h1><span class="blue">3</span><span>_____________ </span><span class="pink">3</span></h1>
    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">4</span></h1>

    <h1><span class="blue">4</span><span>_____________ </span><span class="pink">5</span></h1>

    <h1><span class="blue">6</span><span>_____________ </span><span class="pink">6</span></h1>
    <h1><span class="blue">7</span><span>_____________ </span><span class="pink">7</span></h1>

    <h1><span class="blue">8</span><span>_____________ </span><span class="pink">8</span></h1>

    <h1><span class="blue">9</span><span>_____________ </span><span class="pink">9</span></h1>



  </div>
</div>

    
    <link rel="stylesheet" href="../js/controllerjuego.js">
    <div class="todo">
    <div class="titulo"> 
      <p>Juego de memoria </p>
    </div>
        <div class="contador">
            <p>Intentos</p>
            <p class="counter">0</p>
        </div>
        <div class="memoria">
            <div class="carta" id="1">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="2">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="3">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="4">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            
            <div class="carta" id="5">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="6">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="7">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="8">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            
            <div class="carta" id="9">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="10">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="11">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="12">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
        
            <div class="carta" id="13">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="14">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="15">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="16">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
      
      <div class="carta" id="17">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
      
      <div class="carta" id="18">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
    
        </div>
    </div>





</ion-view>
</ion-content>