<ion-view view-title="Proyecto chafa" >
<ion-content>
	<div class="row">
		<div class="col-20"></div>
		<div class="col-90"><h2>Video del Proyecto</h2></div>
		<div class="col-20"></div>
	</div>
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80"><h2><video controls src="vid.mp4" class="vid"></video></h2></div>
		<div class="col-10"></div>
	</div>
		<div class="row">
		<div class="col-20"></div>
		<div class="col-90"><h2>Importancia del agua</h2></div>
		<div class="col-20"></div>
	</div>
		<div class="row">
		<div class="col-10"></div>
		<div class="col-80"><h2><img src="https://naret4.files.wordpress.com/2011/03/mundo-noche-agua.gif?w=388&h=458" class="img1"></h2></div>
		<div class="col-10"></div>

</ion-view>
</ion-content>